label.panel-clock,
image.panel-icon,
buttoncontent.panel-icon image,
buttoncontent.panel-icon label {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

buttoncontent.panel-icon label {
  font-weight: normal;
  font-style: normal;
}

image.panel-icon,
buttoncontent.panel-icon image {
  -gtk-icon-size: 16px;
  margin-bottom: 2px;
}
